<div class="row">
  <h3><a href="">Currated Pages</a></h3>
  <ul class="inline-list">
    <%= render 'layouts/organizations/supportListItem' %>
    <%= render 'layouts/organizations/supportListItem' %>
    <%= render 'layouts/organizations/supportListItem' %>
    <%= render 'layouts/organizations/supportListItem' %>
    <%= render 'layouts/organizations/supportListItem' %>
    <%= render 'layouts/organizations/supportListItem' %>
  </ul>
</div>
