<% if signed_in? %>

  <div class="row">
    <aside class="large-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/mission_form' %>
      </section>
    </aside>
  </div>

<% else %>

  <%= render 'layouts/hero/heroslider' %>

  <%= render 'layouts/missions/highlight' %>

  <%= render 'layouts/missions/rows', {:titleName => "New York, NY", :displayObject => "City"} %>

  <%= render 'layouts/missions/rows', {:titleName => "Popular"} %>

  <%= render 'layouts/organizations/supportList' %>

  <%= render 'layouts/about/projectSource' %>

<% end %>
