<% provide(:sectionTitle, @project.projectTitle ) %>
<% provide(:sectionBlurb, @project.shortBlurb ) %>

<%= render 'projects/progress_header_message' %>

<div class="grey-back">
  <div class="row">
    <dl class="sub-nav">
      <dd class="active"><a href="#">Home</a></dd>
      <dd><a href="#">Active</a></dd>
      <dd><a href="#">Pending</a></dd>
      <dd><a href="#">Suspended</a></dd>
    </dl>
  </div>
  <div class="row white-back">
    <div class="large-8 column">
      <img src="<%= @project.projectImage %>">
      render sharing / short url

      <%= render 'projects/bitly_copy_link' %>

      <p>
        <%= @project.projectDescription %>
      </p>
      <h3>Risks and challenges</h3>
      <p>
        <%= @project.risksChallenges %>
      </p>
    </div>
    <div class="large-4 column">

      <%= render 'projects/current_standing' %>

      <%= render 'projects/cta_project' %>

      <%= render 'projects/author_box' %>
    </div>

    <p><%= @project.projectLocation %></p>
    <p><%= @project.projectVideo %></p>

  </div>

</div>
